

.timeline{
  margin-bottom: 130px;
  .title{
    margin-bottom: 56px;
  }
  .img{
    img{
      @include breakpoint(lg){
        max-height: 196px;
      }
    }
  }
  .text{
    h4{
      font-size: 18px;
      font-weight: 600;
      text-transform: uppercase;
    }
    .description{
      color: $black;
      margin-bottom: 9px;
    }
    .view-more{
      a{
        font-weight: 600;
        color: $color-5;
        text-transform: uppercase;
        font-size: 12px;
      }
    }
  }

  .img{
    position: relative;
    margin-bottom: 20px;
    @include breakpoint(lg){
      margin-bottom: 0;
    }
    @media screen and (max-width: $screen-lg - 1) {
      text-align: center;
    }
  }

  .list{
    .row{
      min-height: 256px;
      position: relative;
      margin-bottom: 10px;
      @media screen and (max-width: $screen-lg - 1) {
        border-bottom: 1px solid $border-2;
        padding-bottom: 25px;
        margin-bottom: 35px;
      }
      &:before, &:after{
        content: "";
        position: absolute;
        left: 50%;
        @include translate(-50%,0);
      }
      &:before{
        top:0;
        z-index: 2;
      }
      &:after{
        bottom: 0;
        z-index: 1;
      }
      &:nth-child(2n+1){
        &:before{
          @include breakpoint(lg){
            @include use-sprite('cycle-blue');
          }
        }
        &:after{
          @include breakpoint(lg){
            @include use-sprite('line-blue');
          }
        }
        .col-item{
          @include breakpoint(lg){
            &:first-child{
              padding-left: 40px;
            }
            &:last-child{
              padding-right: 40px;
            }
          }
        }
        .text{
          @include breakpoint(lg){
            text-align: right;
          }
          h4{
            a{
              color: $color-link;
            }
          }
          .view-more{
            a{
              &:hover{
                color: $color-link;
              }
            }
          }
        }

        .img{
          @include breakpoint(lg){
            &:before{
              content: "";
              border-bottom:18px solid transparent;
              border-right: 18px solid #eaeaea;
              display: block;
              width: 0;
              height: 0;
              position: absolute;
              top: 0;
              left: -18px;
            }
          }
        }
      }

      &:nth-child(2n+2){
        &:before{
          @include breakpoint(lg){
            @include use-sprite('cycle-red');
          }
        }
        &:after{
          @include breakpoint(lg){
            @include use-sprite('line-red');
          }
        }
        .col-item{
          @include breakpoint(lg){
            &:first-child{
              padding-right: 40px;
            }
            &:last-child{
              padding-left: 40px;
            }
          }
        }
        .img{
          @include breakpoint(lg){
            text-align: right;
            &:before{
              content: "";
              border-bottom:18px solid transparent;
              border-left: 18px solid #eaeaea;
              display: block;
              width: 0;
              height: 0;
              position: absolute;
              top: 0;
              right: -18px;
            }
          }
        }
        .text{
          h4{
            a{
              color: $color-6;
            }
          }
          .view-more{
            a{
              &:hover{
                color: $color-6;
              }
            }
          }
        }
      }

      &:last-child{
        border: none;
        margin-bottom: 0;
        padding-bottom: 0;
        &:after{
          display: none;
        }
      }
    }
  }
}