footer{
  background-color: $color-4;
  background-image: url("../images/bg/bg-footer.png");
  background-position: top left;
  background-repeat: no-repeat;
  background-size: auto 100%;
  padding: 82px 0 35px;
  color:$white;
  a{
    color: $white;
    &:hover{
      color: $white;
    }
  }
}

.footer-top{
  margin-bottom: 53px;
  h3{
    margin: 0 0 19px;
    font-weight: 600;
    text-transform: uppercase;
    font-size: 16px;
    cursor: pointer;
    @include breakpoint(lg){
      cursor: text;
      font-size: 18px;
    }
    i{
      margin-right: 10px;
      @include breakpoint(lg){
        display: none;
      }
    }
  }

  .navs{
    @media screen and (max-width: $screen-lg - 1 ) {
      display: none;
    }
  }
  .show-nav-link{
    .navs{
      @media screen and (max-width: $screen-lg - 1) {
        display: block;
      }
    }
  }

  ul{
    li{
      margin-bottom: 27px;
      a{
        display: inline-block;
        padding-left: 22px;
        position: relative;
        &:before{
          content: "";
          @include use-sprite('bullet-logo');
          position: absolute;
          top:4px;
          left: 0;
        }
      }
    }
  }

  .aboutus{
  }

  .social{
    margin-bottom: 10px;
    a{
      color: $color-text;
      @include transition();
      font-size: 36px;
      &+a{
        margin-left: 15px;
      }
      &:hover{
        color: $color-link;
      }
    }
  }

  .newsletter{
    margin-bottom: 30px;
  }
}

.social{
  a{
    display: inline-block;
    @include square(42px);
    @include border-radius(50%);
    text-align: center;
    line-height: 42px;
  }
  .facebook{
    background-color: #3a599c;
  }

  .twitter{
    background-color: #5a8eca;
  }

  .google-plus, .youtube{
    background-color: #ce3527;
  }
}
.footer-center{
  padding: 20px 0;
  margin-bottom: 34px;
  .social{
    margin-bottom: 20px;
    @include breakpoint(lg){
      margin-bottom: 0;
    }
  }
}

.newsletter{
  position: relative;
  padding-right: 130px;
  padding-left: 24px;
  height: 50px;
  border:1px solid $border;
  @include border-radius(25px);
  input{
    border: none;
    height: 48px;
    font-size: 14px;
    @include OpenSans();
    color: $color-5;
    @include placeholder($color-5);
    width: 100%;
    &:focus{
      outline: none;
    }
  }
  button{
    width: 114px;
    position: absolute;
    top:5px;
    right: 5px;
    min-width: 1px;
    height: 38px;
    background-color: #d71149;
    @include border-radius(19px);
    text-align: center;
    text-transform: uppercase;
    color: #fff;
    border: none;
    cursor: pointer;
    @include transition();
    &:hover{
      background-color: darken(#d71149,15%);
    }
  }
}

.footer-bottom{

}