.list-result-search{
  margin-bottom: 55px;
  .row-item{
    margin-bottom: 25px;
    .col-sm-4{
      text-align: center;
      @include breakpoint(sm){
        text-align: left;
      }
    }
    h4{
      font-size: 16px;
      font-weight: 700;
    }
    .desc{
      line-height: 20px;
      max-height: 60px;
      margin-bottom: 5px;
    }
    .text-right{
      a{
        font-weight: 600;
        color: $color-1;
      }
    }
  }
}