.material-switch > input[type="checkbox"] {
    display: none;   
}

.material-switch > label {
    cursor: pointer;
    height: 0px;
    position: relative; 
    width: 40px;  
}

.material-switch > label::before {
    background: rgb(0, 0, 0);
    box-shadow: inset 0px 0px 10px rgba(0, 0, 0, 0.5);
    border-radius: 8px;
    content: '';
    height: 16px;
    margin-top: -8px;
    position:absolute;
    opacity: 0.3;
    transition: all 0.4s ease-in-out;
    width: 40px;
}
.material-switch > label::after {
    background: rgb(255, 255, 255);
    border-radius: 16px;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.3);
    content: '';
    height: 24px;
    left: -4px;
    margin-top: -8px;
    position: absolute;
    top: -4px;
    transition: all 0.3s ease-in-out;
    width: 24px;
}
.material-switch > input[type="checkbox"]:checked + label::before {
    background: inherit;
    opacity: 0.5;
}
.material-switch > input[type="checkbox"]:checked + label::after {
    background: inherit;
    left: 20px;
}

.margin-bottom-30 {
    margin-bottom: 30px; 
}

.bootstrap-tagsinput{
  display: block !important;
}

.form-seo{
  padding: 20px;
  border:1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 3px 5px rgba(0,0,0,0.3);
  margin-top: 20px;
}

.d-block{
  display: block;
}
.text-white{
  color:#fff;
}
a.text-white:hover, a.text-white:focus{
  color:#fff;
}

.list-check{
    list-style: none;
    margin: 0 0 20px;
    padding: 0;
    max-height: 200px;
    overflow-y: scroll;
    overflow-x: hidden;
}
.list-check li{
    padding-left: 20px;
    position: relative;
}
.list-check input{
  position: absolute;
  top:1px;
  left: 0;
}

.list-check label{
  font-weight: normal;
}