<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:og="http://ogp.me/ns#"
      xmlns:fb="https://www.facebook.com/2008/fbml">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<meta name="google-site-verification" content="0Aqnw36QedShF9MeA3Pixc8RZWREMp6E95iTecttMgw" />



<link rel="shortcut icon" href="uploads/version/logo-ico-201712121314331AhdyXKwCJ.ico" />
<base href="http://kimloaitamintech.com/"  />
<meta name="author" content="Thiết kế website bởi escovietnam.vn" />
<meta name="web_author" content="Thiết kế website bởi escovietnam.vn" />

<title>CÔNG TY CỔ PHẦN KIM LOẠI TẤM INTECH VIỆT NAM</title>
<meta name="description" content="CÔNG TY CỔ PHẦN KIM LOẠI TẤM INTECH VIỆT NAM" />
<meta name="keywords" content="CÔNG TY CỔ PHẦN KIM LOẠI TẤM INTECH VIỆT NAM" />
<meta property="og:title" content="CÔNG TY CỔ PHẦN KIM LOẠI TẤM INTECH VIỆT NAM"/>
<meta property="og:type" content="website"/>
<meta property="og:url" content="http://kimloaitamintech.com/imgs/layout/back-to-top.png"/>
<meta property="og:image" content="http://kimloaitamintech.com/imgs/noimage.png" />
<meta property="og:description" content="CÔNG TY CỔ PHẦN KIM LOẠI TẤM INTECH VIỆT NAM"/><link rel="stylesheet" type="text/css" href="templates/css.min.css">
<script src="scripts/jquery.js"></script>
<!--[if IE 6]>
    <script src="scripts/DD_belatedPNG_0.0.8a.js"></script>
    <script>DD_belatedPNG.fix('img, div, span, a, h1, h2, h3, h4, h5, h6, p, table, input');</script>
<![endif]-->
<!--[if lt IE 9]>
	<script src="scripts/selectivizr-min.js"></script>
    <script src="scripts/html5.js"></script>
	<link rel="stylesheet" type="text/css" href="templates/FIX_IE.css" />
<![endif]-->
</head>
<body>
		<div id="wrapper">
        <header id="header">                	
    <div class="banner">
        <div class="min_wrap">
            			<a class="logo" href="http://kimloaitamintech.com/">
				<img src="uploads/quangcao/logoklt-png-20180222092045dfAbxq9ZXv.png" alt="Kim loai tam Intech">
			</a>
			            <div class="search">
            	<form action="xu-ly.htm" method="post">
                    <input class="ipt_s box-sizing-fix" type="text" placeholder="Keywords search..!" name="search_tukhoa">
                    <input class="btn_s" type="submit" value="&nbsp;">
                </form>
            </div><!-- End .search -->
        </div><!-- End .min_wrap -->
    </div><!-- End .banner -->
    <nav class="nav_mn">
        <div class="min_wrap">
            <ul class="ul_mn clearfix">
                <li class="active">
                    <a href="http://kimloaitamintech.com">Home</a>
                </li>
                                <li>
                    <a href="products/">
                        Products                    </a>
                                        <ul class="mn_child_01 mn_child_02">
                                                <li>
                            <a href="laser-cutting/">
                                Laser cutting                            </a>
                        </li>
                                                <li>
                            <a href="industrial-shelving/">
                                Industrial Shelving                            </a>
                        </li>
                                                <li>
                            <a href="trolley/">
                                Trolley                            </a>
                        </li>
                                            </ul>
                                    </li>
                                <li>
                    <a href="lien-he/">Contact us</a>
                </li>
            </ul><!--End .ul_mn -->
            <div class="language">
            	                <a href="sec-index/1/langx/" title="Vietnam">
                    Language                    <img src="imgs/layout/vn.png" alt="Vietnam">
                </a>
                            </div><!-- End .language -->
            
            <a class="icon_menu_mobile" href="javascript:void(0)" val="0"></a>
        </div><!-- End .min_wrap -->
    </nav><!-- End .nav_mn -->
</header><!-- End #header -->		<section id="container">







	<div class="slide">



    	<div class="min_wrap">



            <div id="owl-demo" class="owl-carousel">



                            



                <div class="item">



                    <a href="JavaScript:void(0);">



                        <img class="lazyOwl" data-src="uploads/quangcao/1-png-20170920142759Io0JKjlP8.png" alt="Slider 6">



                    </a>



                </div><!-- End .item -->



                            



                <div class="item">



                    <a href="JavaScript:void(0);">



                        <img class="lazyOwl" data-src="uploads/quangcao/2-png-20170920142816mWnPnhkLUD.png" alt="Slider 7">



                    </a>



                </div><!-- End .item -->



                


            </div><!-- End #owl-demo -->



        </div>



    </div><!-- End .slide -->	







    <div class="f_home">



        <div class="min_wrap clearfix">



            <article class="content">



                



                <div class="block_ct">



                    <div class="title_ct">



                        <span>



                            Featured Products


                        </span>



                    </div><!-- End .title_ct -->



                    <div class="main_ct">



                        <ul class="ul_prod clearfix">



                        	


                        </ul><!-- End .ul_prod -->



                    </div><!-- End .main_ct -->



                </div><!-- End .block_ct -->



                <div class="block_ct">



                    <div class="title_ct">



                        <span>



                        	New Products


                        </span>



                    </div><!-- End .title_ct -->



                    <div class="main_ct">



                        <ul class="ul_prod clearfix">



                        	


                        </ul><!-- End .ul_prod -->



                    </div><!-- End .main_ct -->



                </div><!-- End .block_ct -->



                <div class="block_ct">



                    <div class="title_ct">



                        <span>



                            News


                        </span>



                    </div><!-- End .title_ct -->



                    <div class="news_home">



                        <div class="nh_l">



                        	


                            <figure>



                                <a href="//">



                                    <img class="lazy" data-original="imgs/noimage.png" alt="" width="194" height="149">



                                </a>



                            </figure>



                            <div class="info_nh">



                                <h4>



                                    <a href="//">



                                        


                                    </a>



                                </h4>



                                <span>



                                    


                                </span>



                            </div><!-- End .info_nh -->



                        </div><!-- End .nh_l -->



                        <div class="nh_r">



                            <ul>



                            


                            </ul>



                        </div><!-- End .nh_r -->



                    </div><!-- End .main_ct -->



                </div><!-- End .block_ct -->



            </article><!-- End .content -->



            <div class="sidebar">



            	<div class="block_sb">



                    <h3 class="title_sb">                            	



                        <span>Product Category</span>



                    </h3><!-- End .title_sb -->



                    <div class="main_sb">



                        <ul class="ul_dmsp">



                            


                            <li>



                                <a href="cnc/">



                                	<h2>



                                    	CNC


                                    </h2>



                                </a>



                            </li>



                            


                            <li>



                                <a href="laser-cutting/">



                                	<h2>



                                    	Laser cutting


                                    </h2>



                                </a>



                            </li>



                            


                            <li>



                                <a href="industrial-shelving/">



                                	<h2>



                                    	Industrial Shelving


                                    </h2>



                                </a>



                            </li>



                            


                            <li>



                                <a href="trolley/">



                                	<h2>



                                    	Trolley


                                    </h2>



                                </a>



                            </li>



                            


                        </ul>



                    </div><!-- End .main_sb -->



                </div><!-- End .block_sb -->



				<div class="block_sb">
	<h3 class="title_sb">
        <span>Hỗ trợ trực tuyến</span>
    </h3><!-- End .title_sb -->
    <div class="hotline">
        <ul>
                        <li>
                <strong>business 01</strong>
                <p style="color:#333;">0988 808 795</p>
            </li>
                        <li>
                <strong>business 2</strong>
                <p style="color:#333;">0904 090 382</p>
            </li>
                    </ul>
    </div><!-- End .hotline -->
</div><!-- End .block_sb -->
<div class="block_sb sty_none">
 <!-- Đặt thẻ này vào phần đầu hoặc ngay trước thẻ đóng phần nội dung của bạn. -->
<script src="https://apis.google.com/js/platform.js" async defer>
  {lang: 'vi'}
</script>
<!-- Đặt thẻ này vào nơi bạn muốn tiện ích con kết xuất. -->
<div class="g-person" data-href="https://plus.google.com/114438675636121799209" data-rel="author"></div>
 
</div><!-- End .block_sb -->
<div class="block_sb">
    <h3 class="title_sb">                            	
        <span>Visitor Statistics</span>
    </h3><!-- End .title_sb -->
    <div class="main_sb">
        <ul class="ul_tktc">
            <li>
                <span>Online</span>:
                1            </li>
            <li>
                <span>Tổng</span>:
                22.945 - 39.924            </li>
            <li>
                <span>IP</span>:
                118.70.233.193            </li>
        </ul>
    </div><!-- End .main_sb -->
</div><!-- End .block_sb -->


            </div>



        </div><!-- End .min_wrap -->



        <div class="partner">
    <div class="min_wrap">
        <span class="icon_partner"></span>
        <div id="owl-demo2">
             
            <div class="item">
                <a href="JavaScript:void(0);">
                    <img class="lazyOwl" data-src="uploads/quangcao/images-4-jpg-20141221221308sZC74YA9gb.jpg" alt="">
                </a>
            </div>
              
            <div class="item">
                <a href="JavaScript:void(0);">
                    <img class="lazyOwl" data-src="uploads/quangcao/1-4-jpg-20130312143624rk8fxr2xgk-png-201303121439303lztxaxjsp-png-20130312144023Em3cUjoYln.png" alt="">
                </a>
            </div>
              
            <div class="item">
                <a href="JavaScript:void(0);">
                    <img class="lazyOwl" data-src="uploads/quangcao/images-11-jpg-20141221221136wLWWE0Cwzz.jpg" alt="">
                </a>
            </div>
              
            <div class="item">
                <a href="JavaScript:void(0);">
                    <img class="lazyOwl" data-src="uploads/quangcao/images-8-jpg-20141221221350haNgZ2NQ4v.jpg" alt="PBS">
                </a>
            </div>
            
        </div><!-- End #owl-demo2 -->
    </div><!-- End .min_wrap -->
</div><!-- End .partner -->


    </div><!-- End .f_home -->



</section><!-- End #container -->        <footer id="footer">
	<div class="min_wrap">
        <div class="info_foot"><span style="color:#008000;"><strong class="name_company">INTECH VIET NAM SHEET METAL JOINT STOCK COMPANY</strong></span>
<ul class="ul_info_foot">
	<li><strong>Head office</strong>
	<p><img alt="" src="imgs/layout/icon_foot_1.png" /> Add: Lot A2 CN9, Tu Liem Industrial, Bac Tu Liem Dist, Ha Noi City, Viet Nam</p>

	<p><img alt="" src="imgs/layout/icon_foot_2.png" /> Tel: (+84) 466 806 795 - Fax: 043 765 3875</p>

	<p><img alt="" src="imgs/layout/icon_foot_3.png" /> Email: sales@kimloaitamintech - kimloaitamintech@gmail.com</p>

	<p><img alt="" src="imgs/layout/icon_foot_4.png" /> Hotline: (+84) 988 808 795</p>
	</li>
	<li><strong>Branches</strong>
	<p><img alt="" src="imgs/layout/icon_foot_1.png" /> Add: No 130, To Ngoc Van Dist, Ho Chi Minh City, Viet Nam</p>

	<p><img alt="" src="imgs/layout/icon_foot_2.png" /> Tel: (+08)3 884 2698 – Fax: (+08)3 715 1107</p>

	<p><img alt="" src="imgs/layout/icon_foot_3.png" /> Email: intechvietnamhcm@gmail.com</p>

	<p><img alt="" src="imgs/layout/icon_foot_4.png" /> Hotline: 093 881 79 79</p>
	</li>
</ul>
<!-- End .ul_info_foot --></div>
<!-- End .info_foot -->

<div class="foot_2">
<ul class="ul_foot_2">
	<li>          <a href="http://intechvietnam.com/"><img alt="" height="87" src="http://kimloaitamintech.com/uploads/noidung/images/logo-trang.png" width="200" /></a>​<br />
	<img alt="" height="56" src="imgs/layout/img_foot_2.png" width="247" /></li>
	<li>
	<p><span style="font-size:14px;"><strong>Các mạng xã hội</strong></span><br />
	<a href="https://www.facebook.com/bangtaibangchuyen/" rel="nofollow" style="font-size: 13px;" target="_blank"><img alt="facebook" height="38" src="imgs/layout/social_1.png" width="38" /> </a><a href="https://plus.google.com/+IntechViệtNamcongnghiepviet" rel="nofollow" style="font-size: 13px;" target="_blank"><img alt="google" height="38" src="imgs/layout/social_2.png" width="38" /> </a><a href="#" rel="nofollow" style="font-size: 13px;" target="_blank"><img alt="tw" height="38" src="imgs/layout/social_3.png" width="38" /> </a><a href="https://www.youtube.com/channel/UCwtofYRoqLCAnrcwMx800qw/videos" rel="nofollow" style="font-size: 13px;" target="_blank"><img alt="youtube" height="38" src="imgs/layout/social_4.png" width="38" /></a></p>
	<a href="http://www.online.gov.vn/CustomWebsiteDisplay.aspx?DocId=37111" rel="nofollow" target="_blank"><img alt="" src="imgs/layout/dathongbao.png" /> </a></li>
	<li><iframe allowfullscreen="" frameborder="0" height="210" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3723.3236314215123!2d105.7232675150002!3d21.0597325859816!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3134545188616895%3A0x67ce7722f9132f70!2zQ8O0bmcgVHkgQ-G7lSBQaOG6p24gS2ltIExv4bqhaSBU4bqlbSBJbnRlY2ggVmnhu4d0IE5hbQ!5e0!3m2!1svi!2s!4v1513213915154" style="border:0" width="600"></iframe></li>
</ul>
</div>
<!-- End .foot_2 -->        <div class="foot_3">
                    </div><!-- End .foot_3 -->    
    
    </div><!-- End .min_wrap -->
    
</footer><!-- End #footer -->    </div><!-- End #wrapper -->
    <div class="fixed_button">
    	<ul>
        	<li class="fb_email">
            	<div class="inner_fb" style="line-height: 24px; text-indent: 0;">
            	   <div style="padding: 10px 0 0 10px; text-align: left !important; font-size: 11px;">
                	<a href="mailto:kinhdoanh01@kimloaitamintech.com">kinhdoanh01@kimloaitamintech.com</a>
                	<br>
                	<a href="mailto:kinhdoanh02@kimloaitamintech.com">kinhdoanh02@kimloaitamintech.com</a>
                  </div>
                </div>
            </li>
        	<li class="fb_website">
            	<div class="inner_fb">
                	<img src="imgs/layout/qr_mikyo.vn.png" alt="http://mikyo.vn">
                </div>
            </li>
        	<li class="fb_hotline">
            	<div class="inner_fb">
                	0901 761 511
                    <br>
					0903 471 511
                </div>
            </li>            
        	<li class="fb_support">
            	
            </li>
        </ul>
    </div><!-- End .fixed_button -->
    <style>
    	.f-detail a {
			color: #01712a !important;
		}
		@media only screen and (max-width: 768px) {
		.ipt_s {
			border: 1px solid #ccc !important;
			background: #f9f9f9 !important;
			color: #fff;
			width: 200px;
			height: 28px;
		}
		.btn_s {
			background-color: #048031 !important;
		}
		}
    </style>
	<div class="menu_mobile" style="visibility: hidden;">
    <span class="close_menu_mobile"></span>
    <div class="menu_accordion">
        <ul class="ul_ma_1">
            <li class="active">
                <a href="http://kimloaitamintech.com">Home</a>
            </li>
            
            <li>
                <a href="products/">Products</a>
                
                <i class="arrown_menu_accordion" val="sub_ac_91"></i>
                <ul class="ul_ma_2" id="sub_ac_91" style="display:none;">
                	
                    <li>
                        <a href="laser-cutting/">Laser cutting</a>
                        
                    </li>
                    
                    <li>
                        <a href="industrial-shelving/">Industrial Shelving</a>
                        
                    </li>
                    
                    <li>
                        <a href="trolley/">Trolley</a>
                        
                    </li>
                    
                </ul><!-- End .ul_ma_2 -->
                
            </li>
            
            <li class="active">
                <a href="lien-he/">Contact us</a>
            </li>
        </ul><!-- End .ul_ma_1 -->
    </div><!-- End .menu_accordion -->
</div><!-- End .menu_mobile -->
<script>
	$(document).ready(function(e) {
        $(".arrown_menu_accordion").click(function() {
        	var val=$(this).attr("val");
			$("#"+val).toggle();
    	});
    });
</script>    <script>$(document).ready(function(){$.get('librarys/xuly_count.php?ko_dem=1');});</script>
    <script src="scripts/jquery.lazyload.min.js"></script>
	<link rel="stylesheet" type="text/css" href="scripts/owl-carousel/owl.carousel.css">
    <link rel="stylesheet" type="text/css" href="scripts/owl-carousel/owl.transitions.css">
    <script src="scripts/owl-carousel/owl.carousel.js"></script>
    <script src="scripts/frame_script.js"></script>
    <script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-82755233-1', 'auto');
  ga('send', 'pageview');

</script></body>
</html>